* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeuebook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

body {
  font-family: "Noto Sans", sans-serif;
}

.mobile-menu{
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
} 

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light{
  background-color: #fff;
  color: #292D33;
  border-bottom: none;
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

.header {
  padding-top: 5.875rem;
}

.header-img {
  background-image: url("../img/header-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -56px;
  position: relative;
}

.header-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 3.125rem;
  height: 100%;
  align-items: center;
}

.header-logo {
  padding: 1.5rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  gap: .625rem;
}

.header-phone-link {
  text-decoration: none;
  font-weight: 600; 
  font-size: 16px;
  color: inherit
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 5%;
}

.header-nav-link {
  text-decoration: none; 
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.header-nav-link:after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5C8EE6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}

.header-nav-link:hover:after {
  width: 100%;
  right: auto;
  left: 0;
}

button {
  padding: 1.5625rem 3.75rem;
  background: #5C8EE6;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  border: none;
  cursor: pointer;
}

.nav-btn {
  padding: 1.5625rem 3.125rem;
  margin-left: 3.125rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  flex-shrink: 0;
}

.nav-btn .btn-svg {
  display: none;
}

.separator {
  background: #5C8EE6;
  width: 9.375rem;
  height: .125rem;
}

.header-content {
  padding-top: 6.25rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.main-header {
  max-width: 67.5rem;
  font-family: 'Bebas Neue Book';
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0;
  letter-spacing: 0.8;
}

.subheader {
  max-width: 45rem; 
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 100px;
}

.header-features{
  display: flex;
  min-height: 10.5rem;
  margin-top: 6.25rem;
  padding-left: 0;
  position: relative;
  list-style: none;
  color: #fff;
  margin-bottom: 0px;
}

.header-features-item {
  width: 18rem;
  padding: 1.125rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  height: auto;
}

.slider-btns {
  display: flex;
  height: 0px;
}

.slider-button-prev, 
.slider-button-next {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  cursor: pointer;
}

.header-features-icon {
  margin-top: .75rem;
}

.header-features-text{
  font-weight: 400;
  font-size: 1rem;
  line-height: 155%;
  margin-top: .9375rem;
}

.section-light {
margin-top: 9.375rem;
margin-bottom: 6rem;
}

.section-title {
  font-family: 'Bebas Neue Book';
  color: #292D33;
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 100%;
}

.primary-btns {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.primary-btn-prev,
.primary-btn-next {
  background: #5C8EE6;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-item{
  width: 20.625rem;
}

.steps {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 2rem;
}

.steps-num {
  font-family: 'Bebas Neue Book';
  font-weight: 400;
  font-size: 3rem;
  color: #5C8EE6;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.steps-num::after {
  content: "";
  height: .0625rem;
  background: #EBEBF0;
  width: 100%;
  margin-left: 1.875rem;
}


.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;
  margin-top: 1.875rem;
  margin-bottom: .625rem;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
}

.btn-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5C8EE6;
}

.btn-link::before {
  content: "";
  height: .0625rem;
  width: 2.5rem;
  background: #5C8EE6;
  margin-right: 1.25rem;
  transition: width 0.2s;
}

.btn-link:hover:before {
  width: 3.75rem;
}

/*
<!-- Пробная Bootstrap -->
.cards {
  display: flex;
}

.card {
  border: 1px solid #EBEBF0;
  padding-bottom: 0;
  min-height: 37.0625rem;
  position: relative;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;
  margin-top: 0;
  margin-bottom: .625rem;
}

.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-bottom: 0;
}

.card-img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.col-xl-4 {
  padding-left: none;
  padding-right: none;
} */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  padding-bottom: 0;
  position: relative;
  min-height: 37.0625rem;
  text-decoration: none;
  transition: border 0.2s;
}

.card:hover {
  border: 1px solid #5C8EE6;
}

.card:hover .card-title {
  color: #5C8EE6;
}


.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}

.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-bottom: 0;
}

.card-img {
  position: absolute;
  right: 0;
  width: 90%;
  bottom: 0;
  z-index: 0;
}

/* Без Grid */

/* .marks {
  margin-top: 7.375rem;
  margin-bottom: 9.375rem;
}

.marks-cards {
  display: flex;
  flex-wrap: wrap;
}

.marks-card {
  display: flex;
  padding: 3.125rem;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  gap: 3.125rem;
  max-height: 280px;
  text-decoration: none;
  border: 1px solid #EBEBF0;
  transition: border 0.2s;
}

.marks-card:hover {
  border: 1px solid #5C8EE6;
}

.marks-card:hover .marks-title {
  color: #5C8EE6;
}


.marks-title {
  margin-top: 1px;
  font-weight: 400;
  font-size: 26px;
  line-height: 160%;
  color: #292D33;
  transition: color 0.2s
}

.marks-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #828A99;
}

.marks-img {
  width: 30%;
} */

.marks {
  margin-top: 7.375rem;
  margin-bottom: 9.375rem;
}

.marks-cards {
  display: flex;
}

.marks-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "logo title title"
  "logo text text";
  flex-basis: 50%;
  padding: 3.125rem;
  text-decoration: none;
  border: 1px solid #EBEBF0;
  transition: border 0.2s;
  grid-column-gap: 3.125rem;
}

.marks-img {
  grid-area: logo;
  width: 100%;
  filter: grayscale(100%);
}

.marks-title {
grid-area: title;
margin: 0;
font-weight: 400;
font-size: 1.75rem;
line-height: 160%;
color: #292D33;
transition: color 0.2s
}

.marks-text {
  grid-area: text;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
}

.marks-card:hover {
  border: 1px solid #5C8EE6;
}

.marks-card:hover .marks-title {
  color: #5C8EE6;
}

.marks-card:hover .marks-img {
  filter: grayscale(0%);
}

.founder {
 position: relative;
 min-height: 41.25rem;
}

.founder-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.founder-content{
  max-width: 45rem;
}

.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.founder-text {
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-bottom: 1.5625rem;
}

.clients {
  margin-top: 7.375rem;
  margin-bottom: 7.375rem;
}

.clients-wrapper{
  display: flex;
  gap: 3.125rem;
}

.clients-content{
  flex-basis: 50%
}

.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
}

.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292D33;
}

.clients-logo {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
}

.client-logo-item {
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  filter: grayscale(100%);
  transition: filter 0.2s
}

.client-logo-item:hover {
  filter: grayscale(0%);
}

.client-logo-img {
  max-width: 100%;
}

.blog-item {
  display: flex;
  position: relative;
  height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}

.blog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;

}

.blog-item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-item-title {
  font-style: normal;
  font-weight: 100;
  font-size: 1.75rem;
  line-height: 160%;
  margin-bottom: .625rem;
}

.blog-item-text {
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 160%;
  margin-top: 0;
}

.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}


.bg-grey {
  background: #F0F2F5;
}

.section-cta {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
  margin-top: 9.375rem;
}

.cta-img {
  position: absolute;
  max-width: 45rem;
  bottom: 0;
  left: 0;
  width: 50%;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;

}

.cta-form {
  max-width: 52.5rem;
}

.cta-form-title {
  margin-top: 0;
  margin-bottom: 2.625rem;
}

.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: 1.375rem;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}

.input-group {
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
}

input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  background-color: #F0F2F5;
  border: 1px solid #E4E4EB;
}

.input:focus {
  border: 1px solid #5C8EE5;
  outline: 0;
}


.input-label {
  position: absolute;
  cursor: text;
  top: 1.2rem;
  left: 1.975rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input:focus ~ .input-label, 
.input:not(:placeholder-shown).input:not(:focus) ~ .input-label {
  top: -0.5rem;
  left: 1rem;
  font-size: .75rem;
  background-color: #F0F2F5;
  padding: 0 .625rem;
}

.cta-form-footer {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
  gap: 1.875rem;
}

.cta-btn {
 flex-shrink: 0;
}

.notify {
  display: flex;
  align-items: flex-start;
  gap: .625rem;
}

.notify-img {
  flex-shrink: 0;
}

.notify-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #828A99;
  max-width: 23.75rem;
}

.footer-top {
  display: flex;
  align-items: center;
  padding-top: 3.125rem;
  justify-content: space-between;
  padding-bottom: 3.125rem;
}

.footer-top-info-item {
  display: flex;
  align-items: center;
}

.footer-top-phone {
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  text-decoration-line: underline;
  color: #292D33;
  cursor: pointer;

}

.footer-social-media-link {
  text-decoration: none;
}

.footer-separator {
  top: 33.4%;
  bottom: 66.39%;
  background: #EBEBF0;
  opacity: 0.2;
}

.footer-bottom {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.footer-menu-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #292D33;
  margin-bottom: 1.875rem;
  
}

 .footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-bottom: .9375rem;
  display: block;
 }

 .column-3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #292D33;
  margin-bottom: 1.8rem;
  margin-top: 0.99rem;

 }

 .footer-bottom {
  display: flex;
  justify-content: flex-start;
 }

.footer-menu-list {
  list-style: none;
  margin: 0;
  padding-left: 1.25rem;
}

.footer-menu-list-column {
  columns: 20rem auto;
  min-width: 50rem;
}

.footer-menu-wrapper:last-child{
  margin-left: 10rem; 
}

.footer-legacy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  gap: 4.6875rem;
  position: relative;
}

.policy {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: .75rem;
  line-height: 160%;
  color: #828A99;
  text-decoration: underline;

}

.made-in {
  display: flex;
  gap: .8375rem;
  position: absolute;
  right: 0;
}

.made-in-text {
  font-style: normal;
  font-weight: 400;
  font-size: .75rem;
  line-height: 160%;
  color: #828A99;
}

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: .75rem;
  line-height: 160%;
  color: #828A99;
}






@media (max-width: 1750px) {
  html{
  font-size: 14px;
}
  .header-img {
  background-position: center;
}
}

@media (max-width: 1540px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 1.4rem 2.125rem;
}
}

@media (max-width: 1422px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1333px) {
  html {
    font-size: 11px;
  }

  .slider-btns {
    height: 44px;
  }
  .slider-button-prev, 
  .slider-button-next {
  display: flex;
}
  .card {
    flex-basis: 50%;
}

}

@media (max-width: 1243px) {
  .header-nav-item:not(:last-child) {
    margin-right: 4%;
  }
  .container{
    max-width: 80rem;
  }
  .steps-btns {
    display: flex;
  }

  .marks-title {
    font-size: 1.5625rem;
  }

  .marks-text {
    font-size: .875rem;
  }

  .founder-content{
    max-width: 42rem;
  }
}

@media (max-width: 1214px) {
  .container{
    max-width: 70rem;
  }
  .header-logo {
    padding: 1rem 2.125rem;
}
  .header-phone{
    display: none;
  }
  .navbar{
    height: 5rem;
  }
  .nav-btn{
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header-nav{
    padding: 0 2rem;
  }

  .steps {
    gap: 1rem;
  }

  .marks-card {
    padding: 2.125rem;
  }

  .clients-content {
    flex-basis: 60%;
  }

  .clients-wrapper{
    flex-direction: column;
  }

  .cta-form-wrapper {
    justify-content: center;
  }

  .cta-img {
    display: none;
  }

}

@media (max-width: 1056px) {
  .founder-content{
    max-width: 39rem;
  }
}

@media (max-width: 938px) {
  .container{
    max-width: 60rem;
  }
  .header-nav{
    display: none;
  }

  .header-logo{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 1rem 2.125rem;
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }

  .mobile-menu-toggle{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2)
  }

  .mobile-menu-line{
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2){
    width: 80%;
  }

  .nav-btn .btn-text{
    display: none;
  }

  .nav-btn .btn-svg{
    display: block;
    fill: white;
  }

  .mobile-menu.is-open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
  }

  .mobile-menu-nav-item{
    margin-top: 1.875rem;
  }

  .mobile-menu-nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292D33;
    margin-bottom: 1.875rem;
  }

  .mobile-submenu {
    list-style: none;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .submenu-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #828A99;
    padding-bottom: .625rem;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292D33;
    border-top: 1px solid #EBEBF0;
    padding-top: 2rem;
  }

  .mobile-info {
  display: block; 
  margin-top: 2rem;
  }

  .mobile-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #292D33;
  gap: .625rem;
  }  

  .mobile-social-media{
    margin-top: 2.5rem;
    display: flex;
    gap: .625rem;
  }

.close-menu .mobile-menu-line:nth-child(2) {
  display: none;
}

  .close-menu .mobile-menu-line:nth-child(1) {
transform: rotate(45deg) translateY(15px);
}
  .close-menu .mobile-menu-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-15px);
  }

  .steps {
    gap: .625rem;
  }

  .marks-card { 
    flex-basis: 100%;
  }

  .marks-card {
    padding: 2.125rem;
  }

  .marks-text {
    font-size: 1.3rem;
  }

  .marks-title{
    font-size: 1.9rem;
  }

  .marks-cards {
    flex-direction: column;
  }

  .founder-img {
    width: 100%;
    position: relative;
    margin-bottom: 3.125rem;
  }

  .founder-content {
    max-width: 55rem;
  }

  
.founder-text {
  font-size: 1.5rem;
}


}

  @media (max-width: 768px) {
    .container {
      max-width: 40rem;
    }
    .main-header {
      font-size: 4rem;
    }
    .header-content {
      padding-top: 3rem;
    }
    .steps-title {
      font-size: 1.55rem;
    }

    .card {
      flex-basis: 100%;
    }

    .marks-text {
    font-size: 1rem;
    }

    .marks-title {
      font-size: 1.6rem;
    }


  }

  @media (max-width: 576px) {
    .container {
      max-width: 90%;
    }
    .main-header {
      font-size: 4rem;
    }
    .header-content {
      padding-top: 2rem;
    }

    .steps-title{
      font-size: 1.25rem;
    }

    .steps-text {
      font-size: 12px;
    }

    .steps {
      gap: .25rem;
    }

    .marks-card {
      grid-template-areas: "logo title title" "text text text";
    }

    .founder-text {
    font-size: 1.2rem;
    }

    .clients-list {
      columns: 1;
    }

    .client-logo-item {
      flex-basis: 50%;
    }


    .input-group-wrapper {
      flex-direction: column;
  }

  .cta-form-footer {
    flex-direction: column;
  }

  .cta-btn {
    width: 100%;
   }

   .notify-text {
    font-size: 11px;
    font-weight: 100;
  }
    
    .cta-form-text {
      font-size: 1.2rem;
      font-weight: 100;
    }

    .input-group {
      height: 5.125rem;
    }

    .input-label {
      top: 1.5rem;
      font-weight: 100;
    }

    .cta-btn {
      padding: 1.65rem 3.75rem;
      font-weight: 100;
      font-size: 1.2rem;
    }
}

  
  @media (max-width: 435px) {
    .marks-card{
      gap: 1.125rem;
      padding: 1.125rem;
    }

    .marks-title{
      margin-bottom: 0px;
      font-size: 1.3rem;
    }

    .marks-text{
      font-size: .9rem;
    }
  }

  @media (max-width: 380px) {
    .card{
    min-height: 34.0625rem;
    }  
  }
  

  

  @media (max-width: 300px) {
    .navbar {
      height: 4rem;
    }
    .mobile-menu-toggle{
      width: 55px;
    }

    .logo-svg {
      width: 8rem;
    } 

  .marks-card {
    padding: 1.125rem;
  }

  .marks-text{
    font-size: .7rem;
  }

  .marks-title {
    font-size: 1.1rem;
  }

  .card {
    min-height: 31.0625rem;
  }

  .marks-section-title {
    font-size: 3.5rem;
  }

  .card-title {
    font-size: 1.4rem;
  }
}
  