* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: gray;
  color: #fff;
  height: 94px;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
}

.header-logo {
  margin: 25px 50px;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
}

.header-phone-link {
  text-decoration: none;
  font-weight: 600; 
  font-size: 16px;
  color: inherit
}

.header-nav-link {
  text-decoration: none; 
  font-size: 16px;
  font-weight: 400;
  margin-right: 50px;
  color: inherit;
}

button {
  margin-left: 50px;
  padding: 25px 60px;
  background: #5C8EE6;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  flex-shrink: 0;
}

.header-btn {
  height: 100%;
}